*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: cyan;
}

#container{
    width: 100%;
    min-height: 90vh;
    padding: 10px;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid;
    height: 60px;
    background-color: black;
}

.art{
    margin: 10px 10px;
    color: white;
}

nav{
    flex: 1;
    text-align: right;
}

nav li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    border: 2px solid;
    border-radius: 10px;
    width: 80px;
    padding: 10px;
    text-align: center;
    background-color: white;
}

nav li a{
    text-decoration: none;
    color: black;
}
nav li a:hover{
    color: blue;
}

h2{
    margin: 5px;
    text-align: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 10px;    
    margin-top: 20px;
    
}


.box .p1{
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
    height: auto;
    width: 300px;
    background-image: linear-gradient(red, blue, yellow);
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    line-height: 25px;
}

.p1 img{
    height: 100px;
    width: 180px;
}

.box .p1 h4{
    padding: 10px;
    font-size: larger;
}

footer{
    /* border: 2px solid black; */
    background-color: rgb(207, 178, 178);
    color: black;
    text-align: center;
    padding-top: 15px;
    height: 60px;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 9px;   
}

@media only screen and (max-width: 700px){
    .navbar{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    nav li{
        display: block;
        width: auto;
    }
    .box{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
}
@media only screen and (max-width:410px){
    
}