*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    background-color: #67676729;
    width: auto;
    height: 1100px;
    /* filter: blur(5px); */
    filter: opacity(20%);
}
.navbar{
    box-shadow: 0px 10px 10px rgb(209, 191, 191);
    height: 70px;
    filter: opacity(20%);
}
.navbar h1{
    font-size: 45px;
    font-weight: bolder;
    margin: 0px 10px 10px 80px;
    padding-top: 5px;
}
.navbar h1 span{
    color: #00A5EC;
}
.newtask{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 30px;
    left: 950px;
}
.newtask svg{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.newtask p{
    font-size: 30px;
}

#box{ 
    display: flex;
    flex-wrap: wrap;
    left: 120px;
    top: 60px;
    position: relative;
}
.box1, .box2, .box3, .box4, .box5{
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    margin: 10px;
    cursor: pointer;
}
.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover{
    border-color: #00A5EC;
    box-shadow: 1px 1px 22px 1px #c2c2c2;
}
h4, label, input{
    cursor: pointer;    
}

h4{
    margin: 24px 0px 24px 24px;
    color: #00A5EC;
}
label{
    color: #c2c2c2;
    
}
input{
    margin: 24px 0px 4px 24px;
    width: 25px;
    height: 25px;
    color: #c2c2c2;
    
}
.line{
    text-decoration-line: line-through;
}

.rectangle{
    border: 1px solid #404040;
    background-color: #ffffff;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    border-radius: 10px;
    position: relative;
    left: 433px;
    top: 184px;
    position: fixed;
}
.rectangle p{
    width: 151px;
    height: 26px;
    font-size: 22px;
    text-align: left;
    color: #404040;
    opacity: 1;
    position: relative;
    top: 20px;
    left: 15px;
}
.rectangle span{
    text-align: right;
    padding: 0px 15px 15px 0px ;
    color: #858585;
    position: relative;
    bottom: 10px;
    font-size: 20px;
}

button{
    padding: 10px;
    margin: 10px;
    width: 140px;
    background-color: #00A5EC;
    border: none;
    margin-left: 21.4em;
    border-radius: 5px;
    color: #ffffff;
    
}

.primary{
    position: relative;
    left: 480px;
    top: 100px;
    filter: opacity(20%);
}
.primary img{
    width: 35px;
    height: 35px;
    margin: 20px;
    
}
.box h3{
    text-align: center;
    color: #00A5EC;
    margin: 10px;
}
.img span{
    border: 1px solid #00A5EC;
    background-color: #00A5EC;
    width: 80px;
}
.plus{
    position: relative;
    left: 130px;
}
.box{
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
    width: 350px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 22px 1px #c2c2c2;
}

